body {
    font-family: Arial, sans-serif;
    padding: 20px;

    .startPoint{
    justify-content: space-around;
    }
    
    
}

button {
    font-size: 20px;
    padding: 10px 20px;
}

.auto_score{justify-content: space-around;}
